project:
  type: book

book:
  title: "Introduction to Data Analysis and Education Research using Stata"
  author: "Norah Jones"
  date: "11/15/2025"
  chapters:
    - index.qmd
    - Chapter1-intro-stata.qmd
    - Chapter2-data-univariate.qmd
    - summary.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt

editor: visual

